{% import "components/form/fields_macros.html.twig" as fields %}

{% set bg = "" %}
{% if item.isDeleted() %}
    {% set bg = "asset-deleted" %}
{% endif %}

    {% set rand = random() %}
    {% set params  = params ?? [] %}
    {% set target       = params['target'] ?? item.getFormURL() %}
    {% set withtemplate = params['withtemplate'] ?? "" %}
    {% set item_type = item.getType() %}

<div class="card-body d-flex">
    <div class="col-12 col-xxl-{{ params['hasPicture'] ? '9' : '12' }} flex-column">
        <div class="d-flex flex-row flex-wrap flex-xl-nowrap">
            <div class="row flex-row align-items-start flex-grow-1">
                <div class="row flex-row">
                    {% if item.isField('address') %}
                        {{ fields.autoNameField(
                            'address',
                            item,
                            __('URL'),
                            withtemplate
                        ) }}
                    {% endif %}

                    {% if item.isField('backoffice') %}
                        {{ fields.autoNameField(
                            'backoffice',
                            item,
                            __('Backoffice URL', 'webapplications'),
                            withtemplate
                        ) }}
                    {% endif %}

                    {% if item.isField('version') %}
                        {{ fields.autoNameField(
                            'version',
                            item,
                            __('Installed version', 'webapplications'),
                            withtemplate
                        ) }}
                    {% endif %}

                    {% if item.isField('webapplicationservertypes_id') %}
                        {{ fields.dropdownField(
                            "PluginWebapplicationsWebapplicationServerType",
                            "webapplicationservertypes_id",
                            item.fields['webapplicationservertypes_id'],
                            "PluginWebapplicationsWebapplicationServerType"|itemtype_name,
                        ) }}
                    {% endif %}

                    {% if item.isField('webapplicationtechnics_id') %}
                        {{ fields.dropdownField(
                            "PluginWebapplicationsWebapplicationTechnic",
                            "webapplicationtechnics_id",
                            item.fields['webapplicationtechnics_id'],
                            "PluginWebapplicationsWebapplicationTechnic"|itemtype_name,
                        ) }}
                    {% endif %}

                    {% if item.isField('webapplicationexternalexpositions_id') %}
                        {{ fields.dropdownField(
                            "PluginWebapplicationsWebapplicationExternalExposition",
                            "webapplicationexternalexpositions_id",
                            item.fields['webapplicationexternalexpositions_id'],
                            "PluginWebapplicationsWebapplicationExternalExposition"|itemtype_name,
                        ) }}
                    {% endif %}

                </div> {# .row #}
            </div> {# .row #}
        </div> {# .flex-row #}
    </div>
</div> {# .card-body #}

<div class="card-body d-flex">
    <div class="col-12 col-xxl-12 flex-column">
        <div class="d-flex flex-row flex-wrap flex-xl-nowrap">
            <div class="row flex-row align-items-start flex-grow-1">
                <div class="row flex-row">


                    {{ fields.smallTitle(__('Security Needs'))}}
                    <a><h2 class="fas fa-info fa-fw"
                           title="Critères DICT :
Disponibilité (D) : Identifier l’impact sur la disponibilité de l’actif informatique suite à la réalisation du changement
Intégrité (I) : Identifier l’impact sur les données gérées par l’actif informatique
Confidentialité (C) : Identifier l’impact sur les traitements de l’actif informatique liés à la confidentialité des données
Traçabilité (T) : Identifier l’impact sur les traitements de l’actif informatique liés à la traçabilité des données"></h2>
                    </a>
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                {% if item.isField('webapplicationavailabilities') %}
                                    {{ fields.dropdownNumberField(
                                        'webapplicationavailabilities',
                                        item.fields['webapplicationavailabilities'],
                                        __('Availability', 'webapplications'),
                                        {
                                            'min'            : 1,
                                            'max'            : 4,
                                            'step'           : 1,
                                            'field_class': 'col-12',
                                            'label_class': 'col-xxl-8',
                                            'input_class': 'col-xxl-4',}
                                    ) }}
                                {% endif %}
                            </td>
                            <td>
                                {% if item.isField('webapplicationintegrities') %}
                                    {{ fields.dropdownNumberField(
                                        'webapplicationintegrities',
                                        item.fields['webapplicationintegrities'],
                                        __('Integrity', 'webapplications'),
                                        {
                                            'min'            : 1,
                                            'max'            : 4,
                                            'step'           : 1,
                                            'field_class'    : 'col-12',
                                            'label_class'    : 'col-xxl-8',
                                            'input_class'    : 'col-xxl-4',}
                                    ) }}
                                {% endif %}
                            </td>
                            <td>
                                {% if item.isField('webapplicationconfidentialities') %}
                                    {{ fields.dropdownNumberField(
                                        'webapplicationconfidentialities',
                                        item.fields['webapplicationconfidentialities'],
                                        __('Confidentiality', 'webapplications'),
                                        {
                                            'min'            : 0,
                                            'max'            : 4,
                                            'step'           : 1,
                                            'field_class': 'col-12',
                                            'label_class': 'col-xxl-8',
                                            'input_class': 'col-xxl-4',}
                                    ) }}
                                {% endif %}

                            </td>
                            <td>
                                {% if item.isField('webapplicationtraceabilities') %}
                                    {{ fields.dropdownNumberField(
                                        'webapplicationtraceabilities',
                                        item.fields['webapplicationtraceabilities'],
                                        __('Traceability', 'webapplications'),
                                        {
                                            'min'            : 1,
                                            'max'            : 4,
                                            'step'           : 1,
                                            'field_class': 'col-12',
                                            'label_class': 'col-xxl-8',
                                            'input_class': 'col-xxl-4',}
                                    ) }}
                                {% endif %}
                            </td>

                        </tr>
                        </tbody>
                    </table>

                    {{ fields.smallTitle(__('Installation')) }}

                    {% if item.isField('webapplicationreferringdepartmentvalidation') %}
                        {{ fields.dropdownYesNo(
                            "webapplicationreferringdepartmentvalidation",
                            item.fields['webapplicationreferringdepartmentvalidation'],
                            __('Validation of the request by the referring Department', 'webapplications'),
                        ) }}
                    {% endif %}

                    {% if item.isField('webapplicationciovalidation') %}
                        {{ fields.dropdownYesNo(
                            "webapplicationciovalidation",
                            item.fields['webapplicationciovalidation'],
                            __('Validation by CIO', 'webapplications'),
                        ) }}
                    {% endif %}


                    <div id="support">
                        {{ fields.smallTitle(__('Support')) }}

                        {% if item.isField('webapplicationmailsupport') %}
                            {{ fields.autoNameField(
                                "webapplicationmailsupport",
                                item,
                                __('Mail Support', 'webapplications'),
                                withtemplate
                            ) }}
                        {% endif %}


                        {% if item.isField('webapplicationphonesupport') %}
                            {{ fields.autoNameField(
                                "webapplicationphonesupport",
                                item,
                                __('Phone number Support', 'webapplications'),
                                withtemplate
                            ) }}
                        {% endif %}
                    </div>


                </div> {# .row #}
            </div> {# .row #}
        </div> {# .flex-row #}
    </div>
</div> {# .card-body #}
