{% import "components/form/fields_macros.html.twig" as fields %}

{% extends "generic_show_form.html.twig" %}

{% block more_fields %}


    {{ fields.dropdownField(
        'User',
        'owner',
        item.fields['owner'],
        __('Owner', 'webapplications'),
        field_options|merge({
            'right': 'all',
        })
    )}}

    {{ fields.smallTitle(__('Security Needs')) }}
    <table>
        <tbody>
        <tr>
            <td>
                {% if item.isField('webapplicationavailabilities') %}
                    {{ fields.dropdownNumberField(
                        'webapplicationavailabilities',
                        item.fields['webapplicationavailabilities'],
                        __('Availability', 'webapplications'),
                        {
                            'min'            : 1,
                            'max'            : 4,
                            'step'           : 1,
                            'field_class': 'col-12',
                            'label_class': 'col-xxl-8',
                            'input_class': 'col-xxl-4',}
                    ) }}
                {% endif %}

            </td>
            <td>
                {% if item.isField('webapplicationintegrities') %}
                    {{ fields.dropdownNumberField(
                        'webapplicationintegrities',
                        item.fields['webapplicationintegrities'],
                        __('Integrity', 'webapplications'),
                        {
                            'min'            : 1,
                            'max'            : 4,
                            'step'           : 1,
                            'field_class'    : 'col-12',
                            'label_class'    : 'col-xxl-8',
                            'input_class'    : 'col-xxl-4',}
                    ) }}
                {% endif %}
            </td>
            <td>
                {% if item.isField('webapplicationconfidentialities') %}
                    {{ fields.dropdownNumberField(
                        'webapplicationconfidentialities',
                        item.fields['webapplicationconfidentialities'],
                        __('Confidentiality', 'webapplications'),
                        {
                            'min'            : 0,
                            'max'            : 4,
                            'step'           : 1,
                            'field_class': 'col-12',
                            'label_class': 'col-xxl-8',
                            'input_class': 'col-xxl-4',}
                    ) }}
                {% endif %}

            </td>
            <td>
                {% if item.isField('webapplicationtraceabilities') %}
                    {{ fields.dropdownNumberField(
                        'webapplicationtraceabilities',
                        item.fields['webapplicationtraceabilities'],
                        __('Traceability', 'webapplications'),
                        {
                            'min'            : 1,
                            'max'            : 4,
                            'step'           : 1,
                            'field_class': 'col-12',
                            'label_class': 'col-xxl-8',
                            'input_class': 'col-xxl-4',}
                    ) }}
                {% endif %}
            </td>

        </tr>
        <input type="hidden" name="appliances_id" value="{{ params['appliances_id'] }}">
        </tbody>
    </table>

{% endblock %}