{% import "components/form/fields_macros.html.twig" as fields %}

{% set bg = "" %}
{% if item.isDeleted() %}
    {% set bg = "asset-deleted" %}
{% endif %}

    {% set rand = random() %}
    {% set params  = params ?? [] %}
    {% set target       = params['target'] ?? item.getFormURL() %}
    {% set withtemplate = params['withtemplate'] ?? "" %}
    {% set item_type = item.getType() %}


    {{ fields.dropdownField(
        "PluginWebapplicationsWebapplicationExternalExposition",
        "webapplicationexternalexpositions_id",
        item.fields['webapplicationexternalexpositions_id'],
        "PluginWebapplicationsWebapplicationExternalExposition"|itemtype_name,
        {'align_label_right' : false,}
    ) }}


{{ fields.smallTitle(__('Security Needs')) }}
<table>
    <tbody>
    <tr>
        <td>
                {{ fields.dropdownNumberField(
                    'webapplicationavailabilities',
                    item.fields['webapplicationavailabilities'],
                    __('Availability', 'webapplications'),
                    {
                        'min'            : 1,
                        'max'            : 4,
                        'step'           : 1,
                        'field_class': 'col-12',
                        'label_class': 'col-xxl-8',
                        'input_class': 'col-xxl-4',}
                ) }}

        </td>
        <td>
                {{ fields.dropdownNumberField(

                    'webapplicationintegrities',
                    item.fields['webapplicationintegrities'],
                    __('Integrity', 'webapplications'),
                    {
                        'min'            : 1,
                        'max'            : 4,
                        'step'           : 1,
                        'field_class'    : 'col-12',
                        'label_class'    : 'col-xxl-8',
                        'input_class'    : 'col-xxl-4',}
                ) }}
        </td>
        <td>
                {{ fields.dropdownNumberField(
                    'webapplicationconfidentialities',
                    item.fields['webapplicationconfidentialities'],
                    __('Confidentiality', 'webapplications'),
                    {
                        'min'            : 0,
                        'max'            : 4,
                        'step'           : 1,
                        'field_class': 'col-12',
                        'label_class': 'col-xxl-8',
                        'input_class': 'col-xxl-4',}
                ) }}

        </td>
        <td>
                {{ fields.dropdownNumberField(
                    'webapplicationtraceabilities',
                    item.fields['webapplicationtraceabilities'],
                    __('Traceability', 'webapplications'),
                    {
                        'min'            : 1,
                        'max'            : 4,
                        'step'           : 1,
                        'field_class': 'col-12',
                        'label_class': 'col-xxl-8',
                        'input_class': 'col-xxl-4',}
                ) }}
        </td>

    </tr>
    <input type="hidden" name="appliances_id" value="{{ params['appliances_id'] }}">
    </tbody>
</table>
